.homeText{
    background-color: teal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    padding: 72px;
    color: white;
}